{{- /* SEO & Social Media Meta Tags */ -}}

{{- $shortTitle := site.Params.shortTitle | default site.Params.title -}}
{{- $title := cond .IsHome site.Params.title (cond (gt (len .Title) 20) .Title (printf "%s | %s" .Title $shortTitle)) -}}
{{- $description := cond .IsHome site.Params.description (cond .Description .Description .Summary | plainify | truncate 160) -}}
{{- $keywords := cond .IsHome site.Params.keywords (cond .Params.keywords .Params.keywords (slice)) -}}
{{- $author := cond .IsHome site.Params.author (cond .Params.author .Params.author site.Params.author) -}}

{{- /* Canonical URL */ -}}
<link rel="canonical" href="{{ if .Params.canonicalURL -}} {{ trim .Params.canonicalURL " " }} {{- else -}} {{ .Permalink }} {{- end }}" />

{{- /* Basic SEO */ -}}
<meta name="title" content="{{ $title }}" />
<meta name="description" content="{{ $description }}" />
<meta name="keywords" content="{{ delimit $keywords ", " }}" />
<meta name="author" content="{{ $author }}" />
{{- if .Params.date -}}
<meta name="date" content="{{ .Params.date.Format "2006-01-02" }}" />
{{- end -}}

{{- /* Open Graph / Facebook */ -}}
<meta property="og:type" content="{{ cond .IsHome "website" "article" }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ $title | htmlEscape }}" />
<meta property="og:description" content="{{ $description | htmlEscape }}" />
{{- $ogImage := cond .Params.cover.image .Params.cover.image (index (site.Params.images | default (slice "/assets/og-image.png")) 0) -}}
<meta property="og:image" content="{{ $ogImage | absURL }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
{{- if .Params.date -}}
<meta property="article:published_time" content="{{ .Params.date.Format "2006-01-02T15:04:05Z07:00" }}" />
{{- end -}}
{{- if .Lastmod -}}
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
{{- end -}}
{{- with .Params.tags -}}
{{- range first 5 . -}}
<meta property="article:tag" content="{{ . | plainify }}" />
{{- end -}}
{{- end -}}
{{- $cats := .Params.categories -}}
{{- if $cats -}}
{{- if not (reflect.IsSlice $cats) -}}{{- $cats = slice $cats -}}{{- end -}}
{{- range first 3 $cats -}}
<meta property="article:section" content="{{ . | plainify }}" />
{{- end -}}
{{- end -}}

{{- /* Twitter Card */ -}}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:title" content="{{ $title | htmlEscape }}" />
<meta name="twitter:description" content="{{ $description | htmlEscape }}" />
<meta name="twitter:image" content="{{ $ogImage | absURL }}" />
{{- with site.Params.social.twitter -}}
<meta name="twitter:creator" content="@{{ . }}" />
{{- end -}}

{{- /* Favicon */ -}}
{{- with site.Params.assets.favicon -}}
<link rel="icon" href="{{ . | absURL }}" type="image/x-icon" />
{{- end -}}
{{- with site.Params.assets.favicon16x16 -}}
<link rel="icon" type="image/png" sizes="16x16" href="{{ . | absURL }}" />
{{- end -}}
{{- with site.Params.assets.favicon32x32 -}}
<link rel="icon" type="image/png" sizes="32x32" href="{{ . | absURL }}" />
{{- end -}}
{{- with site.Params.assets.apple_touch_icon -}}
<link rel="apple-touch-icon" sizes="180x180" href="{{ . | absURL }}" />
{{- end -}}

{{- /* RSS Feed */ -}}
{{- range .AlternativeOutputFormats -}}
{{- if eq .Rel "alternate" -}}
<link rel="alternate" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ site.Title }}" />
{{- end -}}
{{- end -}}

{{- /* Structured Data / JSON-LD */ -}}
{{- partial "seo/structured-data.html" . -}}

{{- /* Preconnect to external domains */ -}}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preconnect" href="https://www.googletagmanager.com" />
<link rel="preconnect" href="https://api.openai.com" />

{{- /* DNS Prefetch */ -}}
<link rel="dns-prefetch" href="//www.google-analytics.com" />
<link rel="dns-prefetch" href="//www.googletagmanager.com" />
